 <div class="input-group small-devices form-inline center-block"> 
 
    <%= bootstrap_form_for(@contact, local: true, url: contact_new_or_edit) do |f|%>
      <li class="event_form">
        <%= f.text_field :name, size:"80", label: false, error: false, placeholder: "お名前" %>
      </li>
    
      <li class="event_form">
        <%= f.text_field :email, size:"80", label: false, error: false, placeholder: "メールアドレス" %>
      </li>
    
      <li class="event_form">
        <%= f.text_area :content, size:"80x10",label: false, error: false, placeholder: "内容" %>
      </li>
    
      <div class="button">
      <input type="submit" type="button" class="far fa-envelope btn-success center-block"value="送信する &#xf0e0" data-disable-with="送信中...">
      </div>
    <% end %>
</div>