<h1>FreeYogaについて</h1>

<p>都心の高いヨガスタジオではなく、もっと気軽に近所の公園などで知人友人を集めてヨガをやりたい！
そんな軽い気持ちからこのサイトを作り始めました。

無料のイベントのみ掲載が許可されています。

ヨガインストラクターの資格を取得したばかりで教える場所や機会を探している方、ヨガに興味はあってもスタジオに通うのは気が引ける...そんな方に使ってもらえればと思います。

もちろん普段スタジオなどでヨガを教えている方も、新たに生徒さんを増やす目的で使って頂いてもかまいません。

ヨガをもっと自由に、毎日の暮らしと共に。</p>